# Folders/wildcards
*.dll
**/*.exe
**/*.log
**/*.zip
/.mixin.out
/.mixin.out/
/backups/
/config/jei/world/local
/crash-reports/
/downloads
/dumps/
/Distant_Horizons_server_data/
/ESM/
/journeymap/
/kubejs/exported
/kubejs/probe
/local/
/logs/
/mods/
/resourcepacks
/saves
/saves/
/world_backup/
/world/
screenshots/
/modernfix
/shaderpacks
/server-resource-packs
/patchouli_books
/coremods

# flies
servers.dat
servers.dat_old
options.txt
emi.json
imgui.ini
rhino.local.properties
patchouli_data.json
usercache.json
usernamecache.json

# GDLauncher
config.json
/natives/

# MacOSX
.DS_Store
.DS_Store?