# Folders/wildcards
*.dll
**/*.exe
**/*.log
**/*.zip
/.mixin.out
/.mixin.out/
/backups/
/config/jei/world/local
/crash-reports/
/downloads
/dumps/
/Distant_Horizons_server_data/
/ESM/
/journeymap/
/kubejs/exported
/kubejs/probe
/local/
/logs/
/mods/
/resourcepacks
/saves
/saves/
/world_backup/
/world/
screenshots/
/modernfix
/shaderpacks
/server-resource-packs
/patchouli_books
/coremods
/config/sound_physics_remastered
/config/jecalculation
/.vscode

# flies
servers.dat
servers.dat_old
options.txt
emi.json
imgui.ini
rhino.local.properties
patchouli_data.json
usercache.json
usernamecache.json
fancymenu_data/last_world.fmdata
.qmenu_opened.marker
config/oculus.properties
config/quark-common.toml
config/jecalculation/record.json
config/embeddium++.toml
TrashSlotSaveState.json
config/embeddium*.json
config/embeddium-options.json
deploy/all_files.yml
deploy/only_config.yml
deploy/only_kubejs.yml
config/embeddium-fingerprint.json
config/chiselsandbits-client.toml
config/chiselsandbits-common.toml
config/ae2/client.json
ftp_upload.log*
kubejs/server_scripts/recipe.json

# config
config/emi.css

# GDLauncher
config.json
/natives/

# MacOSX
.DS_Store
.DS_Store?




